@* Model sınıfı eklenmeli *@

@using _6_Models_ModelBinding.Models
@model Kisi

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model Binding</title>
</head>
<body>
    <div>
        <h2>Model Binding</h2>
    </div>
    <hr />

    @* Controllerdan verileri çekme *@
    <div>
        <pre>
<b>Ad    :</b>@Model.Ad
<b>Soyad :</b>@Model.Soyad
<b>Yaş   :</b>@Model.Yas
        </pre>
    </div>
    <hr />

    @* Verileri controller'a gönderme *@
    <div>
        @* x => x.Ad ; x adında parametre alıp x.Ad dönen lambda fonksiyonu *@
        @* x burada, sayfa oluşturulurken sayfaya gönderilen 'kisi' nesnesini temsil eder. *@
        @using (Html.BeginForm())
        {
            <pre>
<b>Ad    :</b>@Html.TextBoxFor(x => x.Ad)
<b>Soyad :</b>@Html.TextBoxFor(x => x.Soyad)
<b>Yaş   :</b>@Html.TextBoxFor(x => x.Yas)
<input type="submit" name="btnSubmit" value="Gönder" />
            </pre>
        }
    </div>

</body>
</html>
