@using _3_Helpers.Library
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Button() <br />
@Html.Button(text: "Buton") <br />
@Html.Button("btnOk", ButtonType.button, "Gönder") <br />
@Html.ButtonWithTagBuilder("btn2", "btn btn-success", ButtonType.submit, "İptal")

<hr />
@Html.Paragraph("p1", 2, "dashed", @<text> <b style="color:red;">Bu bir parargaftır.</b>  </text>)