@helper Badge(string css = "primary", string text = "")
    {
        <span class="badge badge-@css">@text</span>@:&nbsp;
}
@helper Button(string name = "", string href = "#", string css = "primary", string text = "", string size = "sm")
    {
        <a id="@name" name="@name" href="@href" class="btn btn-@css btn-@size">@text</a>
}

@helper Card(string header, string title, string text, params string[][] badges)
    {
        <div class="card">
            <div class="card-header">@header</div>
            <div class="card-body">
                <h5 class="card-title">@title</h5>
                <p class="card-text">@text</p>
                @Button(text: "More")
            </div>
            <div class="card-footer">
                @for (int i = 0; i < badges.Length; i++)
                {
                    @Badge(badges[i][0], badges[i][1])
                }
            </div>
        </div>
        <br />
}

@helper List(string name, params string[] link_text)
    {
        <ul>
            @for (int i = 0; i < link_text.Length; i++)
            {
                int index = link_text[i].IndexOf(" ");
                if (index > 0)
                {
                    <li><a href=@($"{link_text[i].Substring(0,index)}")>@($"{link_text[i].Substring(index + 1)}")</a></li>
                }
                else
                {
                    <li><a href=@($"{link_text[i]}")>@($"{link_text[i]}")</a></li>
                }
            }
        </ul>
}