
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/UrlHelper/Index2">Index2 sayfasına git</a> <br />

<hr />

@Html.ActionLink("Index2 sayfasına git", "Index2") <br />

<hr />

@* Url Helper *@
<a id="link1" href="@Url.Action("Index2", "UrlHelper", null)">Index2 sayfasına git</a> <br />

<hr />

@Url.Action("Index2") <br />                      @* Url adresi üretir. *@
@Url.Content("~/Home/Index2") <br />              @* Sanal path verilir *@
@Url.Encode("~/Home/Index2?arama=Furkan Işıtan")  @* Özel karakterleri encode eder. (Örn: Türkçe karakterler, boşluk vs.) *@