@using _6_Models_ModelBinding.ViewModels
@model homepageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Model</title>
</head>

@* 'Models' klasöründe genelde veritabanı nesneleri için oluşturulan modeller tutulduğundan,
    sayfalar için oluştururlan modellerin farklı bir klasör altında(örn: ViewModels) tutulması
    proje düzeni açısından daha derli toplu bir düzen sağlar.
    Hatta 'ViewModels' klasörünün içine de 'Shared', 'Home', 'Home2' vs. gibi klasörler konularak
    daha da düzenli bir kalıp oluşturulmuş olur.
*@

<body>
    <div>
        <h2>View Model</h2>
        <h5>Aynı sayfa için iki veya daha fazla model nesnesi kullanımı</h5>
    </div>
    <hr />

    @* Controllerdan verileri çekme *@
    <div>
        <pre>
<b>Ad    :</b>@Model.KisiNesne.Ad
<b>Soyad :</b>@Model.KisiNesne.Soyad
<b>Yaş   :</b>@Model.KisiNesne.Yas
<b>İl    :</b>@Model.AdresNesne.Sehir
<b>İlçe  :</b>@Model.AdresNesne.Ilce
        </pre>
    </div>
    <hr />

    @* Verileri controller'a gönderme *@
    <div>
        @using (Html.BeginForm())
        {
            <pre>
<b>Ad    :</b>@Html.TextBoxFor(x => x.KisiNesne.Ad)
<b>Soyad :</b>@Html.TextBoxFor(x => x.KisiNesne.Soyad)
<b>Yaş   :</b>@Html.TextBoxFor(x => x.KisiNesne.Yas)
<b>İl    :</b>@Html.TextBoxFor(x => x.AdresNesne.Sehir)
<b>İlçe  :</b>@Html.TextBoxFor(x => x.AdresNesne.Ilce)
<input type="submit" name="btnSubmit" value="Gönder" />



            </pre>
        }
    </div>

</body>
</html>