
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    string ad = "Furkan", soyad = "Işıtan", adSoyad = ad + " " + soyad;
    @*
        Razor Yorum Satırı (Sunucu tarafıdır. Kullanıcı tarafından görülmez)
    *@

    // C# Yorum satırı

    <ul>
        <li>@ad</li>
        <li>@soyad</li>
        <li>@adSoyad</li>
    </ul>


}
<!--
HTML yotum satırı (Kullanıcı tarafından görülebilir)
-->

<hr />

@ad <br />
@soyad <br />
<b>@adSoyad</b>

<hr />

@(ad + " " + soyad)

