
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homePage</title>
</head>
<body>

    <div>
        <h2>HomePage</h2>
        <hr />
    </div>

    <div>
        <h1>ViewData</h1> <br />
        @ViewData["key1"] <br />
        @ViewData["check1"] <br />

        <h1>ViewBag</h1> <br />
        @ViewBag.key2 <br />
        @ViewBag.check2 <br />

        <h1>TempData</h1> <br />
        @TempData["key3"] <br />
        @TempData["check3"] <br />

        <h1>HTML Helper</h1> <br />
        @Html.TextBox("key2") <br />
        @Html.CheckBox("check2") <br />
        @Html.DisplayText("key2") <br />
        @Html.DropDownList("list1") <br />
        @Html.Hidden("key2") <br />
        @Html.Value("key2") <br />
    </div>

</body>
</html>
